/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  margin: 0 !important;
  box-sizing: border-box !important;
  background-color: white !important;
}

p {
  color: var(--text-color-secondary);
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: var(--text-color-secondary);
  font-family: "Open Sans", sans-serif;
}

.foreground {
  background-color: #E0EEEE !important;
}

.background {
  background-color: #f0ffff !important;
}

.flex {
  display: flex !important;

  &-space-between {
    display: flex !important;
    justify-content: space-between !important;
  }
}

.margin {
  &-top {
    margin-top: 1rem !important;
  }

  &-right {
    margin-right: 1rem !important;
  }

  &-bottom {
    margin-bottom: 1rem !important;
  }

  &-left {
    margin-left: 1rem !important;
  }
}

.border {
  border: 2px #E0EEEE solid !important;
}

p-button {
  border: 2px #E0EEEE solid !important;
}
